
{% load static %}

<div
data-elementor-type="header"
data-elementor-id="1972"
class="elementor elementor-1972 elementor-location-header"
>
<section
  data-particle_enable="false"
  data-particle-mobile-disabled="false"
  class="elementor-section elementor-top-section elementor-element elementor-element-6baf8df elementor-hidden-desktop elementor-hidden-tablet elementor-section-boxed elementor-section-height-default elementor-section-height-default"
  data-id="6baf8df"
  data-element_type="section"
  data-settings='{"background_background":"classic","_ha_eqh_enable":false}'
>
  <div class="elementor-container elementor-column-gap-default">
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-01bdbf2"
      data-id="01bdbf2"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-373ee8b elementor-widget elementor-widget-image"
          data-id="373ee8b"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <style>
              /*! elementor - v3.11.0 - 13-02-2022 */
              .elementor-widget-image {
                text-align: center;
              }
              .elementor-widget-image a {
                display: inline-block;
              }
              .elementor-widget-image a img[src$=".svg'%}"] {
                width: 48px;
              }
              .elementor-widget-image img {
                vertical-align: middle;
                display: inline-block;
              }
            </style>
            <a href="/">
              <img
                width="100"
                height="100"
                src=" {{site.logo}}"
                class="rounded-full"
                alt=""
                loading="lazy"
                srcset="
                "
                
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-492580f"
      data-id="492580f"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-274312b elementor-align-right elementor-mobile-align-justify elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-button"
          data-id="274312b"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                href="/login"
                class="elementor-button-link elementor-button elementor-size-sm"
                role="button"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">Login</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f538533"
      data-id="f538533"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-ed5f307 elementor-nav-menu__align-center elementor-nav-menu--dropdown-mobile elementor-nav-menu--stretch elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu"
          data-id="ed5f307"
          data-element_type="widget"
          data-settings='{"full_width":"stretch","layout":"horizontal","submenu_icon":{"value":"&lt;i class=\"bi bi-caret-down\"&gt;&lt;\/i&gt;","library":"fa-solid"},"toggle":"burger"}'
          data-widget_type="nav-menu.default"
        >
          <div class="elementor-widget-container">
            <link
              rel="stylesheet"
              href="{% static 'main/widget-nav-menu.min.css'%}"
            />
            <nav
              migration_allowed="1"
              migrated="0"
              class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-text e--animation-none"
            >
              <ul id="menu-1-ed5f307" class="elementor-nav-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-294 current_page_item menu-item-305"
                >
                  <a
                    href="/"
                    aria-current="page"
                    class="elementor-item elementor-item-active menu-link"
                    >Home</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2024"
                >
                  <a
                    href="/about"
                    class="elementor-item menu-link"
                    >About Us</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"
                >
                  <a
                    href="#faq"
                    class="elementor-item elementor-item-anchor menu-link"
                    >FAQ</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2025"
                >
                  <a
                    href="/contact"
                    class="elementor-item menu-link"
                    tabindex="-1"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
            <div
              class="elementor-menu-toggle"
              role="button"
              tabindex="0"
              aria-label="Menu Toggle"
              aria-expanded="false"
            >
              <i
                aria-hidden="true"
                role="presentation"
                class="elementor-menu-toggle__icon--open   bi bi-justify"
              ></i
              ><i
                aria-hidden="true"
                role="presentation"
                class="elementor-menu-toggle__icon--close eicon-close"
              ></i>
              <span class="elementor-screen-only">Menu</span>
            </div>
            <nav
              class="elementor-nav-menu--dropdown elementor-nav-menu__container"
              aria-hidden="true"
            >
              <ul id="menu-2-ed5f307" class="elementor-nav-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-294 current_page_item menu-item-305"
                >
                  <a
                    href="/"
                    aria-current="page"
                    class="elementor-item elementor-item-active menu-link"
                    tabindex="-1"
                    >Home</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2024"
                >
                  <a
                    href="/about"
                    class="elementor-item menu-link"
                    tabindex="-1"
                    >About Us</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"
                >
                  <a
                    href="/#faq"
                    class="elementor-item elementor-item-anchor menu-link"
                    tabindex="-1"
                    >FAQ</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2025"
                >
                  <a
                    href="/contact"
                    class="elementor-item menu-link"
                    tabindex="-1"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  data-particle_enable="false"
  data-particle-mobile-disabled="false"
  class="elementor-section elementor-top-section elementor-element elementor-element-e329abd elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
  data-id="e329abd"
  data-element_type="section"
  data-settings='{"background_background":"classic","_ha_eqh_enable":false}'
>
  <div class="elementor-container elementor-column-gap-default">
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5c81a8b"
      data-id="5c81a8b"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-8fbb9e6 elementor-widget elementor-widget-image"
          data-id="8fbb9e6"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <a href="/">
              <img
                width="517"
                height="141"
                src=" {{site.logo}}"
                class="attachment-large size-large wp-image-2101"
                alt=""
                loading="lazy"
                srcset="
                "
                sizes="(max-width: 517px) 100vw, 517px"
              />
            </a>
            <!--DOCTYPE html-->

            <title>Google Translate Button</title>

            <style type="text/css">
              /*google translate Dropdown */

              #google_translate_element select {
                background: #f6edfd;
                color: #383ffa;
                border: none;
                border-radius: 3px;
                padding: 6px 8px;
              }

              /*google translate link | logo */
              .goog-logo-link,
              .goog-te-gadget span,
              div#goog-gt- {
                display: none !important;
              }
              .goog-te-gadget {
                color: transparent !important;
                font-size: 0;
              }

              /* google translate banner-frame */

              .goog-te-banner-frame {
                display: none !important;
              }

              #goog-gt-tt,
              .goog-te-balloon-frame {
                display: none !important;
              }
              .goog-text-highlight {
                background: none !important;
                box-shadow: none !important;
              }

              body {
                top: 0 !important;
              }
            </style>
           
            
            <script src="{% static 'main/element.js'%}"></script>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4cc5833"
      data-id="4cc5833"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-bc71aef elementor-nav-menu__align-center elementor-nav-menu--dropdown-mobile elementor-nav-menu--stretch elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu"
          data-id="bc71aef"
          data-element_type="widget"
          data-settings='{"full_width":"stretch","layout":"horizontal","submenu_icon":{"value":"&lt;i class=\"bi bi-caret-down\"&gt;&lt;\/i&gt;","library":"fa-solid"},"toggle":"burger"}'
          data-widget_type="nav-menu.default"
        >
          <div class="elementor-widget-container">
            <nav
              migration_allowed="1"
              migrated="0"
              class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-text e--animation-none"
            >
              <ul id="menu-1-bc71aef" class="elementor-nav-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-294 current_page_item menu-item-305"
                >
                  <a
                    href="/"
                    aria-current="page"
                    class="elementor-item elementor-item-active menu-link"
                    >Home</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2024"
                >
                  <a
                    href="/about"
                    class="elementor-item menu-link"
                    >About Us</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"
                >
                  <a
                    href="/#faq"
                    class="elementor-item elementor-item-anchor menu-link"
                    >FAQ</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2025"
                >
                  <a
                    href="/contact"
                    class="elementor-item menu-link"
                    tabindex="-1"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
            <div
              class="elementor-menu-toggle"
              role="button"
              tabindex="0"
              aria-label="Menu Toggle"
              aria-expanded="false"
            >
              <i
                aria-hidden="true"
                role="presentation"
                class="elementor-menu-toggle__icon--open eicon-menu-bar"
              ></i
              ><i
                aria-hidden="true"
                role="presentation"
                class="elementor-menu-toggle__icon--close eicon-close"
              ></i>
              <span class="elementor-screen-only">Menu</span>
            </div>
            <nav
              class="elementor-nav-menu--dropdown elementor-nav-menu__container"
              aria-hidden="true"
            >
              <ul id="menu-2-bc71aef" class="elementor-nav-menu">
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-294 current_page_item menu-item-305"
                >
                  <a
                    href="/"
                    aria-current="page"
                    class="elementor-item elementor-item-active menu-link"
                    tabindex="-1"
                    >Home</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2024"
                >
                  <a
                    href="/about-us/index.html"
                    class="elementor-item menu-link"
                    tabindex="-1"
                    >About Us</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"
                >
                  <a
                    href="/#faq"
                    class="elementor-item elementor-item-anchor menu-link"
                    tabindex="-1"
                    >FAQ</a
                  >
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2025"
                >
                  <a
                    href="/contact"
                    class="elementor-item menu-link"
                    tabindex="-1"
                    >Contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-76ba430"
      data-id="76ba430"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-a89466c elementor-align-right elementor-mobile-align-center elementor-widget__width-auto elementor-widget elementor-widget-button"
          data-id="a89466c"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                href="/login"
                class="elementor-button-link elementor-button elementor-size-sm"
                role="button"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">Login</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-07c803b elementor-align-right elementor-mobile-align-center elementor-widget__width-auto elementor-widget elementor-widget-button"
          data-id="07c803b"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                href="/register"
                class="elementor-button-link elementor-button elementor-size-sm"
                role="button"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">Sign up</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>