
{% extends './base.html' %}
{% load static %}
{% block link %}
<script
  type="text/javascript"
  charset="utf-8"
  async=""
  src="{% static 'main/loader.js'%}"
></script>
<link rel="stylesheet" href="{% static 'main/post-539.css'%}" />
{% endblock link %}
{% block contect %}

<div class="hfeed site" id="page">
   
  <div id="content" class="site-content">
    <div class="ast-container">
      <div id="primary" class="content-area primary">
        <main id="main" class="site-main">
          <article
            class="post-556 page type-page status-publish ast-article-single"
            id="post-556"
            itemtype="https://schema.org/CreativeWork"
            itemscope="itemscope"
          >
            <header class="entry-header ast-header-without-markup"></header>
            <!-- .entry-header -->
            <div class="entry-content clear" itemprop="text">
              <div
                data-elementor-type="wp-page"
                data-elementor-id="556"
                class="elementor elementor-556"
              >
                <section
                  data-particle_enable="false"
                  data-particle-mobile-disabled="false"
                  class="elementor-section elementor-top-section elementor-element elementor-element-7993104 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="7993104"
                  data-element_type="section"
                  data-settings='{"_ha_eqh_enable":false}'
                >
                  <div class="elementor-container elementor-column-gap-default">
                    <div
                      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74acc20"
                      data-id="74acc20"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-widget-wrap elementor-element-populated"
                      >
                        <div
                          class="elementor-element elementor-element-43d2c89 elementor-widget elementor-widget-text-editor"
                          data-id="43d2c89"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            <style>
                              /*! elementor - v3.11.0 - 13-02-2022 */
                              .elementor-widget-text-editor.elementor-drop-cap-view-stacked
                                .elementor-drop-cap {
                                background-color: #818a91;
                                color: #fff;
                              }
                              .elementor-widget-text-editor.elementor-drop-cap-view-framed
                                .elementor-drop-cap {
                                color: #818a91;
                                border: 3px solid;
                                background-color: transparent;
                              }
                              .elementor-widget-text-editor:not(
                                  .elementor-drop-cap-view-default
                                )
                                .elementor-drop-cap {
                                margin-top: 8px;
                              }
                              .elementor-widget-text-editor:not(
                                  .elementor-drop-cap-view-default
                                )
                                .elementor-drop-cap-letter {
                                width: 1em;
                                height: 1em;
                              }
                              .elementor-widget-text-editor
                                .elementor-drop-cap {
                                float: left;
                                text-align: center;
                                line-height: 1;
                                font-size: 50px;
                              }
                              .elementor-widget-text-editor
                                .elementor-drop-cap-letter {
                                display: inline-block;
                              }
                            </style>
                            <h2><b>Terms and condition</b></h2>
                            <h3><b>1. Objectives</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >It is the goal of {{site.name}} Investment
                                (“{{site.name}} Investment”), to help users enter
                                and navigate the cryptocurrency space, and
                                provide tools to help users make their own sound
                                decisions relative to growing their wealth.
                                Services are intended for medium- and long-term
                                investors.</span
                              >
                            </p>
                            <h3><b>2. Activities</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >2.1 Account creation</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment will create the necessary
                                crypto exchange accounts on behalf of, and with
                                permission of the user. Once account set-up is
                                complete, users are provided with the account
                                credentials and password change instructions, at
                                which point users will have full control over
                                their account. Users are the full and sole owner
                                of their exchange accounts and carry all
                                responsibilities that come with opening,
                                holding, and managing such accounts.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >2.2 Asset allocation</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment uses dynamic, proprietary
                                algorithms to define and perform portfolio
                                allocation, based on user input. Manual trades
                                or transactions conducted by users may limit
                                {{site.name}} Investment’s account monitoring and
                                reporting ability.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >2.3 Fund deposits and withdrawals</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >Users are responsible for depositing and
                                withdrawing funds to/from their account, however
                                {{site.name}} Investment will provide clear
                                instructions on how to do so.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >2.4 Account monitoring and reporting</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment will continuously monitor
                                user accounts and provide users with a monthly
                                dashboard with easy-to-understand portfolio and
                                performance details.</span
                              >
                            </p>
                            <h3><b>3. Fees</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >3.1 Fee structure</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment offers different plans:
                                freemium, and performance fee. The freemium plan
                                is totally free and offers limited
                                functionality.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >Our customers especially like the
                                no-profit-no-pay model as it means that
                                {{site.name}} Investment only gets paid if the
                                customer wins. We like this also!</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >3.2 Promotions</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment reserves the right to
                                apply promotional discounts to the fees listed
                                under 3.1. This is completely at SpaceXElon
                                Investment’s discretion.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >3.3 Other fees</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment does not charge any
                                additional or hidden fees. For any transaction
                                or trading fees that may be charged by
                                cryptocurrency exchanges and/or banks, users
                                accept full responsibility.</span
                              >
                            </p>
                            <h3><b>4. Security</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >4.1 Infrastructure</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment is powered by Google
                                Cloud. Google Cloud helps reducing the cost,
                                complexity, and risk associated with security
                                and compliance in the cloud.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >4.2 Exchanges</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment thoroughly vets its
                                partners and only works with major “top-10”
                                exchanges. User funds remain on their personal
                                exchange account and interactions between
                                {{site.name}} Investment and user accounts are
                                performed by means of customer owned API keys.
                                API access is limited, hence in the unlikely
                                event of a security breach, no fund withdrawal
                                can take place.</span
                              >
                            </p>
                            <h3><b>5. Disclaimer</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >5.1 Financial advice</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment does not provide
                                financial advice. {{site.name}} Investment is not a
                                Registered Investment Advisor, Broker/Dealer,
                                Financial Analyst, Bank, Securities Broker,
                                Commodity Trade Advisor, or Financial Planner.
                                The information provided, such as optimal fund
                                allocation, is based on user input and for
                                information purposes only. The Information is
                                not intended to be and does not constitute
                                financial advice or any other advice, is general
                                in nature and not specific to you. Before using
                                {{site.name}} Investment, users should seek the
                                advice of a qualified investment professional
                                and undertake their own due diligence.
                                {{site.name}} Investment is not responsible for any
                                investment decision made by users.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >5.2 Warranties</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment disclaims to the full
                                extent authorized by law any and all warranties,
                                whether express or implied, including, without
                                limitation, any implied warranties,
                                merchantability or fitness for a particular
                                purpose. {{site.name}} Investment does not warrant
                                that its services and applications will be free
                                of bugs, errors, viruses or other defects, nor
                                that trade results will be profitable.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >5.3 Liability</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >In no event can {{site.name}} Investment or any of
                                its owners be liable to users or any party
                                related to users for any indirect, incidental,
                                consequential, special, exemplary, or punitive
                                damages, lost profits, or losses, even if
                                {{site.name}} Investment has been advised of the
                                possibility of such damages. In any event,
                                {{site.name}} Investment’s total aggregate
                                liability to users for all damages of every kind
                                and type (regardless of whether based in
                                contract or tort) shall not exceed the fees paid
                                to {{site.name}} Investment for the use of our
                                services or applications.</span
                              >
                            </p>
                            <h3><b>6. Risks</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >Investing in any asset class, including crypto
                                currencies, holds numerous risks, for example:
                                technology risks, exchange risks, security
                                risks, regulatory risks.&nbsp; Before deciding
                                to leverage {{site.name}} Investment services,
                                users should carefully consider their investment
                                objectives and risk appetite. The possibility
                                exists that users lose some or all of their
                                initial investment and therefore no money should
                                be invested that users cannot afford to
                                lose.</span
                              >
                            </p>
                            <p>
                              <span style="font-weight: 400"
                                >As with any market, for a transaction to happen
                                it requires a seller, a buyer, and a price
                                agreement. Loss-limiting strategies such as
                                stop-loss orders may not be effective because
                                market conditions or technological issues may
                                make it impossible to execute stop-loss orders.
                                {{site.name}} Investment is not responsible for any
                                losses incurred as a result of using SpaceXElon
                                Investment’s advisory services.</span
                              >
                            </p>
                            <p><span style="font-weight: 400">‍</span></p>
                            <h3><b>7. Privacy</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >{{site.name}} Investment is fully compliant with
                                GDPR (General Data Protection Regulation), an EU
                                regulation enforceable as of May 25,
                                2018.{{site.name}} Investment stores the minimum
                                possible amount of user data necessary to
                                deliver its services. Stored user data includes:
                                name, date of birth, country of residence, email
                                address, and exchange API keys (encrypted). User
                                data will never be shared with any third party
                                before explicit user consent. Users have the
                                right for their user data to be forgotten, which
                                can be requested over email.</span
                              >
                            </p>
                            <h3><b>8. Communication</b></h3>
                            <p>
                              <span style="font-weight: 400"
                                >The User understands and agrees to the
                                preceding sections. The User also agrees to the
                                following:</span
                              >
                            </p>
                            <ul>
                              <li style="font-weight: 400" aria-level="1">
                                <span style="font-weight: 400"
                                  >User agrees to not hold {{site.name}} Investment
                                  liable for any realized trading loss in any
                                  currency or asset;</span
                                >
                              </li>
                              <li style="font-weight: 400" aria-level="1">
                                <span style="font-weight: 400"
                                  >User reserves the right to stop using
                                  {{site.name}} Investment at any point;</span
                                >
                              </li>
                              <li style="font-weight: 400" aria-level="1">
                                <span style="font-weight: 400"
                                  >You agrees and warrants that any information
                                  provided to {{site.name}} Investment is accurate
                                  and complete;</span
                                >
                              </li>
                              <li style="font-weight: 400" aria-level="1">
                                <span style="font-weight: 400"
                                  >User agrees that {{site.name}} Investment is
                                  offering a Software as a Service (SaaS). This
                                  means that {{site.name}} Investment monitors user
                                  accounts on users’ behalf on exchanges that
                                  are not affiliated with SpaceXElon
                                  Investment;</span
                                >
                              </li>
                              <li style="font-weight: 400" aria-level="1">
                                <span style="font-weight: 400"
                                  >User agrees to take full responsibility for
                                  identifying and paying any tax liabilities
                                  that may exist as a result of trading, or
                                  {{site.name}} Investment services in
                                  general;</span
                                >
                              </li>
                              <li style="font-weight: 400" aria-level="1">
                                <span style="font-weight: 400"
                                  >This agreement is governed by and construed
                                  in accordance with the Dutch law and any
                                  dispute, which cannot be amicably resolved,
                                  shall be submitted to the jurisdiction of the
                                  Court in the Netherlands;</span
                                >
                              </li>
                              <li style="font-weight: 400" aria-level="1">
                                <span style="font-weight: 400"
                                  >{{site.name}} Investment reserves the right to
                                  terminate or deny service to anyone, at any
                                  time, for any reason.</span
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- .entry-content .clear -->
          </article>
          <!-- #post-## -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- ast-container -->
  </div>
  <!-- #content -->
  
</div>
{% endblock contect %}
