{% extends './index.html' %} {% load static %} {% block body %}
<main id="main" class="dashboard-main">
  <section class="dashboard-section flex gap-2">
    

    <!-- mobile bottom menu start -->
{% for i in user.getwallet %}

    <div class="row gy-4 items-wrapper justify-content-center">
      <div class="col-xxl-4 col-xl-6 col-md-6 !w-[200px] shadow p2 rounded-md bg-black/20 justify-center text-center flex-grow !h-[170px]">
       <img class="w-[100%]  h-100 rounded " src="{{i.image}}" alt="">
      <big>{{i.name}}</big>
      <a   onclick="document.querySelector('#invest{{i.uuid}}').classList.add('show')"  class="w-full bg-white text-red-700 cursor-pointer z-50 text-center p-2 rounded font-bolder text-2xl" >Pay Now</a>

      </div>
    </div>
    {% endfor %}
    {% for i in user.getwallet %}

    <div
      class="modal fade  hidden bg-black/20"
      id="invest{{i.uuid}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-modal="true"
      style="display: block"
    >
      <div class="modal-dialog" role="document">
        <form
        hx-post="{% url 'coinpayment' user.uuid  %}" hx-target="#response-container" hx-swap="innerhtml" method="POST">
        {% csrf_token %}
          
          <input
            type="hidden"
            name="_token"
            value="s1EMe1G3C0khLgnn9TJjB2KHpxS63pjWdMrWglY0"
          />
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Pay now</h5>
              <button
                type="button"
                onclick="document.querySelector('#invest{{i.uuid}}').classList.remove('show')"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="form-group">
                  <label for=""> amount</label>
                  <input type="text" name="amount" class="form-control" />
                  <input
                    type="hidden"
                    name="uuid"
                    class="form-control"
                    value="{{i.uuid}}"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer gap-2">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                onclick="document.querySelector('#invest{{i.uuid}}').classList.remove('show')"
              >
                Close
              </button>
              <button type="submit" class="w-fit h-fit p-2 rounded-md bg-pink-500 !flex">
                <span>Pay now</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
  </section>
</main>

{% endblock body %}
