{% extends './index.html' %} {% load static %} 



{% block body %} 

    
<!-- mobile bottom menu end -->                <div class="w-full"> 
    <div class="site-card">
        <div class="card-header">
            <div class="row gy-4"> 
                <div class="col-md-8 text-md-start text-center"> 
                    <div class="tab-btn-group"> 
                        <a href="https://user.spacexelon.com/ticket" class="tab-btn "><i class="fa fa-inbox fa-lg" aria-hidden="true"></i>
                            All ticket <span class="num">0</span>
                        </a>
                        <a href="https://user.spacexelon.com/ticket/status/answered" class="tab-btn active">Answered
                            <span class="num">0</span>
                        </a>
                        <a href="https://user.spacexelon.com/ticket/status/pending" class="tab-btn ">
                            Pending <span class="num">0</span>
                        </a>
                    </div>
                </div>
                <div  >
                    <button id="new-ticket"type="button" onclick="document.querySelector('#addxxs').classList.add('show')"  ><span>Create ticket <i class="fa fa-envelope" aria-hidden="true"></i></span></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table  !text-white">
                    <thead>
                        <tr>
                            <th>Ticket id</th>
                            <th>Subject</th>

                            <th>Total reply</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                                                        <tr>
                                <td data-caption="Status" class="text-center" colspan="100%">
                                    No data found
                                </td>
                            </tr>
                                                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="addxxs" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form action="https://user.spacexelon.com/ticket" enctype="multipart/form-data" method="post">
            <input type="hidden" name="_token" value="D8T2feQAWXhEHZflJor1UpLOIsJ59n0y4ZbrDwAx">                <div class="modal-content bg-body">
                <div class="modal-header">
                    <h5 class="modal-title">Create ticket</h5>
                    <button type="button" onclick="document.querySelector('#addxxs').classList.remove('show')" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-light">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" name="subject" class="form-control" required="" placeholder="Subject here" value="">
                            </div>

                        </div>
                        <div class="row align-items-center mt-2">
                            <div class="col-lg-12">
                                <div class="form-group ticket-comment-box">
                                    <label for="exampleFormControlTextarea1">Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="30" name="message" placeholder="Massage"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div id="image-preview" class="image-preview">
                                    <label for="image-upload" id="image-label" class="text-white">Choose file</label>
                                    <input type="file" name="file" id="image-upload" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="button" onclick="document.querySelector('#addxxs').classList.remove('show')">Close</button>
                        <button type="submit" class="btn rounded-md text-white !bg-pink-500 "><span>Create Ticket</span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

    <div class="modal fade " id="edit_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <form action="" enctype="multipart/form-data" method="post">
                <input type="hidden" name="_token" value="D8T2feQAWXhEHZflJor1UpLOIsJ59n0y4ZbrDwAx">                    <input type="hidden" name="_method" value="PUT">                    <div class="modal-content bg-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit ticket</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-light">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" name="subject" class="form-control" required="" placeholder="Subject here" value="">
                                </div>

                            </div>
                            <div class="row align-items-center mt-2">
                                <div class="col-lg-12">
                                    <div class="form-group ticket-comment-box">
                                        <label for="exampleFormControlTextarea1">Message</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="30" name="message" placeholder="Massage"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <div id="image-preview" class="image-preview">
                                        <label for="image-upload" id="image-label" class="text-white">Choose file</label>
                                        <input type="file" name="file" id="image-upload" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn main-btn"><span>Update Ticket</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

 
{% endblock body %}
