
{% extends './base.html' %} {% load static %}  
{% block bodys %}
<p class="mb-0">
  <span class="me-2">Haven't an account?</span>
  <a class="btn main-btn btn-sm" href="/register">Register</a>
</p>
{% endblock bodys %}
{% block body %}

<center class=" w-full text-red-700   bg-white/60 m-2 flex items-centerrounded shadow  justify-center " id="response-container"> </center>

<form action="" hx-post="{% url 'loginApi' %}"
 hx-target="#response-container" hx-swap="innerhtml" 
 
 hx-on:htmx:beforeRequest="document.getElementById('submit-btn').disabled = true; document.getElementById('sdds123').textContent = 'Submitting...';"
 hx-on:htmx:afterRequest="document.getElementById('submit-btn').disabled = false; document.getElementById('sdds123').textContent = 'Register';"

 method="POST">
  {% csrf_token %}
    
  
    <div class="mb-3">
      <label for="formGroupExampleInput">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        value=""
        id="username"
        placeholder="Enter your username"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput">Pasword</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Enter password"
      />
    </div>
    <p class="text-end">
      <a href="/forgot" class="sp_text_dark">Forget password?</a>
    </p>
    <button class="btn !bg-blue-500 text-white w-100 mt-3" id="submit-btn"  type="submit">
      <span  id="sdds123">Log in </span>
    </button>
  </form>
 

  {% endblock body %}
