
{% extends './base.html' %} {% load static %}  
{% block bodys %}
<p class="mb-0">
  <span class="me-2">Haven't an account?</span>
  <a class="btn main-btn btn-sm" href="/register">Register</a>
</p>
{% endblock bodys %}
{% block body %}

<center class=" w-full text-red-700   bg-white/60 m-2 flex items-centerrounded shadow  justify-center " id="response-container"> </center>

<form action="" 
      hx-post="{% url 'loginApi' %}"
      hx-target="#response-container" 
      hx-swap="innerhtml" 
      method="POST"
      id="login-form"
      
      >
    
    {% csrf_token %}

    <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username">
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
    </div>

    <p class="text-end">
        <a href="/forgot" class="sp_text_dark">Forgot password?</a>
    </p>

    <button class="btn !bg-blue-500 text-white w-100 mt-3" id="submit-btn" type="submit">
        <span id="sdds123">Log in</span>
        <span id="loading-spinner" class="spinner-border spinner-border-sm ms-2 d-none"></span>
    </button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("login-form");
        const submitBtn = document.getElementById("submit-btn");
        const submitText = document.getElementById("sdds123");
        const loadingSpinner = document.getElementById("loading-spinner");

        form.addEventListener("htmx:beforeRequest", function () {
            submitBtn.disabled = true;
            submitText.textContent = "Submitting...";
            loadingSpinner.classList.remove("d-none");
        });

        form.addEventListener("htmx:afterRequest", function () {
            submitBtn.disabled = false;
            submitText.textContent = "Log in";
            loadingSpinner.classList.add("d-none");
        });
    });
</script>

 

  {% endblock body %}
