{% extends './base.html' %} {% load static %}  
{% block body %}
<div class="bg-white border border-green-400 text-green-700 px-6 py-4 rounded shadow-lg w-11/12 max-w-md text-center">
  <h1 class="text-3xl font-bold mb-4">Email Verified Successfully!</h1>
  <p class="text-lg mb-6">Thank you for verifying your email. You can now start using your account.</p>
  <a href="/login" class="inline-block bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700">
    login
  </a>
</div>
{% endblock body %}
 
