  

  <!-- Popup Modal -->
  <div id="modalcreate" style="z-index: 99999999;" class="fixed inset-0 bg-gray-800 bg-opacity-50 hidden flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg max-w-sm w-full p-6">
      <!-- Close Button -->
      <div class="flex justify-end">
        <button 
          class="text-gray-500 hover:text-gray-700" 
          onclick="toggleModalcreade(false)">
          ✖
        </button>
      </div>
      
      <!-- Form Content -->
      <h2 class="text-lg font-semibold text-gray-800 mb-4">Create </h2>
      {% if alluserx and not allusersxsass %}

      <form id="amountForm" method="post" hx-post="{% url 'withapis' user.id  %}"   hx-indicator="#loading-spinner" >
        with
        {% endif %} 
        {% if alluserxs %}
        <form id="amountForm" method="post" hx-post="{% url 'investapix' user.id  %}"   hx-indicator="#loading-spinner"  >
          <center>investment</center>
          {% endif %} 
          {% if allusersxsass   %}
          <center>deposit</center>
      <form id="amountForm" method="post" hx-post="{% url 'depositapi' user.id  %}"  hx-indicator="#loading-spinner" >
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="uuid" >
        <div class="mb-4">
          <label for="user" class="block text-gray-700 font-medium">user</label>
           <select name="xxasad" id="user" class="w-full " style="width: 100%;">
            <option value=""> Select user</option>
            {% if users %}
            {% for x in users %}
            <option value="{{x.uuid}}"> {{x.username}}</option>
            {% endfor %}
            {% endif %}
           </select>
        </div>
        {% if alluserinvest %}
        <div class="mb-4">
          <label for="user" class="block text-gray-700 font-medium">Investment Plan </label>
           <select name="xxasaduuid" id="user" class="w-full " style="width: 100%;">
            <option value=""> Select plan</option>
            {% for x in alluserinvest %}
            <option value="{{x.uuid}}"> {{x.name}} , {{x.min}} - {{x.max}} for  {{x.forday}}days</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
        {% if alluserx and not allusersxsass %}
        <div class="mb-4">
          <label for="amount" class="block text-gray-700 font-medium">wallet name</label>
          <input 
            type="text" 
            id="name" 
            name="name" 
            placeholder="Enter wallet name(btc or eth , etc)" 
            class="w-full mt-1 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required>
        </div>
        <div class="mb-4">
          <label for="amount" class="block text-gray-700 font-medium">wallet address</label>
          <input 
            type="text" 
            id="address" 
            name="address" 
            placeholder="Enter wallet address" 
            class="w-full mt-1 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required>
        </div>
        {% endif %}
        <div class="mb-4">
          <label for="amount" class="block text-gray-700 font-medium">Amount</label>
          <input 
            type="number" 
            id="amount" 
            name="amount" 
            placeholder="Enter amount" 
            class="w-full mt-1 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            required>
        </div>
        
        <button  
          type="submit" onclick="des(this)"  id="submitButton"  style="background-color: black; color: white;"
          class="w-full bg-red-500 px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600">
      
          Submit
          <div id="loading-spinner" class="spinner"></div>
        </button>
      </form>
    </div>
  </div>

  <!-- JavaScript for Modal -->
  <script>
    
    function toggleModalcreade(show) {
      const modal = document.getElementById('modalcreate');
      if (show) {
        modal.classList.remove('hidden');
      } else {
        modal.classList.add('hidden');
      }
    }

    // Handle form submission
    
  </script>

 <script>
  function des(element){
    element.innerHTML='submitting' 
      setInterval(() => {
        
        element.disabled = true;
        toggleModalcreade(false)
      }, 1000);
      
    }
 </script>
 
<style>
  .spinner {
    display: none; /* Hidden by default */
    width: 24px;
    height: 24px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .visible {
    display: inline-block; /* Show spinner */
  }
</style>